@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #242424;
  background-color: #F2F2F2;
}

.container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style-type: none;
}

/* HEADER */
.page-header {
  display: flex;
  background: #FFF;
  min-height: 64px;
  padding: 0 70px;
  padding-right: 50px;
}

.logo-header {
  display: block;
  margin-right: 30px;
  position: relative;
  width: 140px;
  height: 70px;
}

.page-header-logo {
  position: absolute;
  object-fit: cover;
}

.navigation {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  margin: 0 17px;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  width: 70px;
  border: 2px solid #756257;
  top: 44px;
}

.navigation-user {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 64px;
  margin: 0;
  border: none;
  background-color: #FFF;
  cursor: pointer;
}

.search:hover .navigation-link-icon {
  fill: red;
}

.like {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 64px;
  margin: 0;
  border: none;
  background-color: #FFF;
  cursor: pointer;
}

.count-like {
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFF;
  border-radius: 50%;
  background-color: #7DB54F;
  padding: 5px 6px;
  letter-spacing: -0.1em;
  margin-top: -16px;
  left: 20px;
}

.come_here {
  display: flex;
  border-radius: 4px;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 34px;
  margin-left: 20px;
  margin-top: auto;
}

.come_here:hover {
  background-color: #615048;
}

.come_here:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.come_here:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.come_here:disabled {
  background-color:#E5E5E5;
  color: rgba(255, 255, 255, 0.3);
}

/* MAIN */
main-container {
  flex-grow: 1;
  padding: 0;
}

.main-index {
  color: #000;
  background-color: #FFF;
}

.baner {
  background-image: url("../images/fon_sedona_header.jpg");
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 485px;
  margin-bottom: 70px;
}

.logo {
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-top: 51px;
  ;
}

.text-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 730px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.reasons {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

.text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
  background-color: #FFF;
  flex-grow: 1;
  width: 651px;
  margin-left: auto;
  margin-right: auto;
}

.help.blue {
  display: flex;
}

.blue {
  background-color: #82B3D3;
}

.help-text {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 384px;
}

/*ADVATAGES*/
.advantages {
  margin-top: 90px;
}

.advantages-list {
  padding: 0;
  margin: 0;
}

.advantages-title-real_town {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 92px;
  margin-left: 113px;
  margin-right: 113px;
  margin-bottom: 0;
  color: #FFF;
}

.advantages-title-real_town::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 86px;
  left: 58px;
}

.advantages-title-devils_bridge {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 92px;
  margin-bottom: 0;
  color: #FFF;
}

.advantages-title-devils_bridge::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 86px;
  left: 170px;
}

.advantages-description-real_town {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 62px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: auto;
  color: #FFF;
}

.advantages-description-devils_bridge {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 62px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: auto;
  color: #FFF;
}

.advantages-title {
  position: relative;
  margin: 0;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.decorative_element::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 86px;
  left: 85px;
}

.decorative_element-none {
  margin-bottom: 30px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333;
  margin: 0 auto;
}

.advantages-item-1 {
  padding: 0;
}

.advantages-item {
  padding: 80px 85px 81px 85px;
  flex-grow: 1;
  flex-basis: 400px;
  min-height: 384px;
  box-sizing: border-box;
}

.another {
  padding: 103px 85px;
}

.advantages-item:nth-child(1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-help {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

/*APOINTVENT*/
.apointment {
  margin: 0 auto;
  padding: 0;
}

.apointment-title {
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 95px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.text-appointment {
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 0;
  margin-left: 304px;
  margin-right: 304px;
  margin-bottom: 54px;
}

.button-search {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background-color: #756157;
  width: 376px;
  border-radius: 4px;
  padding: 8px 0;
  margin-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
button-search:disabled {
  background-color:#E5E5E5;
  color: rgba(255, 255, 255, 0.3);
}

/* POPOVER */
.popover {
  position: absolute;
  left: 330px;
  top: 396px;
  box-sizing: border-box;
  max-width: 717px;
  background: #FFF;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding-top: 70px;
  padding-left: 75px;
  padding-right: 65px;
  padding-bottom: 64px;
  padding: 67px 68x;
  display: none;
}

.popover-head {
  position: relative;
  padding-right: 52px;
}

.popover-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.popover-close {
  position: absolute;
  width: 52px;
  height: 52px;
  background: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  top: 0;
  right: -18px;
}

.close-button {
  fill: #000;
}

.close-button:active {
  fill: #c7b9b9;
}

.popover-close:hover {
  background-color: #E6E6E6;
  ;
}

.popover-close:active {
  background-color: #E6E6E6;
  ;
}

popover-close:focus {
  border: 3px solid #83B3D3;
}

.field-group.popover-form-date {
  display: grid;
  grid-template-columns: auto 440px;
  grid-template-rows: 48px auto;
  grid-gap: 4px;
  margin: 0;
  margin-bottom: 20px;
}

.form-label {
  grid-row: 1/ span 3;
  font-weight: 700;
  font-size: 20px;
  line-height: 48px;
  text-transform: capitalize;
}

.field-popover {
  box-sizing: border-box;
  width: 440px;
  height: 48px;
  background: #F2F2F2;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  padding: 0 20px;
  padding-right: 40px;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
}

.popover-slider {
  display: flex;
  justify-content: center;
  background-color: #F2F2F2;
  border-radius: 4px;
  height: 100%;
  max-width: 110px;
  text-align: center;
}

.slider-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.minus-icon {
  margin: 23px 13px;
}

.plus-icon {
  margin: 17px 0;
  margin-right: 13px;
}

.number {
  border: none;
  background-color: transparent;
  text-align: center;
  outline: none;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  max-width: 31px;
  height: 100%;
}

.date-1 {
  display: block;
  width: 320px;
  height: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-left: 20px;
  color: #FF5757;
}

.date-2 {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-left: 20px;
}

.popover-form-piople-help {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
}

.field-group.popover-form-piople {
  display: grid;
  grid-template-columns: 113px 111px;
  grid-template-rows: 48px;
  grid-gap: 0 20px;
  margin: 0;
}

.help-popover {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  align-self: center;
}

.children {
  display: flex;
  align-items: center;
}

.popover-icon {
  padding-left: 10px;
  padding-top: 8px;
}

.popover-slaider-child {
  position: relative;
  display: grid;
  grid-template-columns: 113px 111px;
  grid-template-rows: 48px;
  grid-gap: 0 20px;
  margin: 0;
}

.popover-slaider-child-icon {
  position: absolute;
  top: 50px;
  left: -20%;
  display: none;
}

.popover-slaider-child-icon::before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  border-bottom: 20px solid #333;
  left: 40%;
  top: -35px;
}

.popover-slaider-child-text {
  width: 216px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  background-color: #333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  margin: 0;
}

.popover-search {
  width: 577px;
  height: 60px;
  background: #83B3D3;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.popover-search:hover {
  background-color: #68A2CA;
}

.popover-search:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

/*NEWSLETER*/
.newsletter {
  background-image: url("../images/subscribe_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightblue;
  justify-content: center;
  padding-bottom: 100px;
}

.page-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-form {
  text-align: center;
}

.text-newsletter {
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFF;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.help-newsletter {
  display: flex;
  justify-content: center;
  margin-left: 258px;
  overflow: hidden;
  margin-right: 258px;
  border-radius: 4px;
  margin-top: 50px;
}

.field {
  align-items: center;
  background-color: #F2F2F2;
  width: 452px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  border: none;
  padding: 12px 20px;
  margin: 0;
}

.button.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFF;
  background-color: #82B3D3;
  width: 232px;
  border: 0;
  padding: 12px 20px;
  margin: 0;
}

.button.newsletter-button:hover {
  background-color: #68A2CA;
}

.button.newsletter-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

button.newsletter-button:disabled {
  background-color:#E5E5E5;
  color: rgba(255, 255, 255, 0.3);
}

/*FOOTER*/
.page-footer {
  display: flex;
  padding: 45px 70px 30px 70px;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #FFF;
}

.page-footer-logo {
  display: block;
  padding: 0;
}

.footer-contacts-address-phone {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 720px;
  padding: 0;
  margin: 0;
  color: #000;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-social {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-social-list {
  display: flex;
  width: 142px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.footer-icon {
  fill: #83B3D3;
  transition: fill 0.3s;
  padding: 13px 12px;
}

.footer-icon:hover {
  fill: #68A2CA;
}

.footer-icon:active {
  fill: rgba(104, 162, 202, 0.3);
  ;
}

.htmlacademy-logo {
  fill: #000;
  transition: fill 0.3s;
}

.htmlacademy-logo:hover {
  fill: #756157;
}

.htmlacademy-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.htmlacademy-logo:focus {
  fill: #756157;
}


/*CATALOG*/
.navigation-link-current-catalog {
  position: relative;
}

.navigation-link-current-catalog::before {
  position: absolute;
  content: "";
  width: 100px;
  border: 2px solid #756257;
  top: 44px;
}

.main-inner {
  background-color: #FFF;
}

.help-catalog {
  background-image: url("../images/background_footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c7b9b9;
  background-position: 0 center;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.inner-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;

}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFF;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 8px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-link{
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFF;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
}

.main {
  padding: 0;
  margin: 0;
  padding-right: 10px;
  width: 15px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.breadcrumbs-icon {
  padding-right: 10px;
}

.catalog-products {
  padding: 0;
  margin: 0;
}

.catalog-filter {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-right: 70px;
}

.catalog-help {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  margin-right: 70px;
  width: 150px;
  border: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-price {
  display: flex;
  width: 1060px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  width: 150px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFF;
}

.control {
  position: relative;
  display: block;
  margin-left: 36px;
  margin-bottom: 10px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFF;
}

.control-mark {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFF;
  border: none;
  cursor: pointer;
  left: -36px;
}

.control-mark-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.control:hover .control-mark {
  background-color: rgba(214, 213, 213, 0.603);
}

.control:active .control-mark {
  background-color: rgba(214, 213, 213, 0.603);
}

.control:focus .control-mark {
  outline: 3px solid #68A2CA;
  background-color: #FFF;
}

.control-input:disabled + .control-mark {
  background-color: rgba(214, 213, 213, 0.603);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  content: "";
  position: absolute;
  left: calc(50% - 12.2px/2 + 0.1px);
  top: calc(50% - 9.9px/2 + 0.45px);
  margin-left: 5px;
  margin-top: 2px;
  background-color: #3F5E72;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: '';
  position: absolute;
  left: -5px;
  width: 10px;
  height: 3px;
  background: #3F5E72;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 3px;
  background: #3F5E72;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.control-input[type="radio"]:checked + .control-mark-circle::before {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 5px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.price-help-1 {
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 287px;
  margin-left: 70px;
  margin-right: 70px;
}

.advantages-title-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.price-help-2 {
  padding: 0;
  margin: 0;
}

.input-help {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  overflow: hidden;
  width: 287px;
  height: 48px;
}

.price {
  padding-left: 4px;
}

.input-help input {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: right;
  border: none;
  padding: 0;
  padding-right: 22px;
  margin-right: 2px;
  border-radius: 4px 0px 0px 4px;
  width: calc(50% - 1px);
}

.price:hover {
  outline: 3px solid #83B3D3;
}

.iprice:active {
  outline:  2px solid #000;
}

.price:focus {
  background-color: #E6E6E6;
}

.input-help input:last-child {
  border-radius: 0px 4px 4px 0px;
  margin: 0;
}

.price::-webkit-outer-spin-button,
.price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Range */
.range-scale {
  position: relative;
  border: 2px solid #FFFFFF;
  margin-top: 48px;
}

.range-bar {
  position: relative;
  border: 2px solid #8b8787ea;
  top: -4px;
  left: 186px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFF;
  border: none;
  cursor: pointer;
}

.toggle-min {
  top: -10px;
  left: 165px;
}

.toggle-max {
  top: -10px;
  left: -5px
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.button-apply {
  width: 191px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #82B3D3;
  border: 0;
  border-radius: 4px;
  margin: 0;
  margin-top: 56px;
  margin-bottom: 32px;
  padding: 8px 50px;
  cursor: pointer;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-throw_off {
  width: 191px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: transparent;
  border: none;
  margin: 0;
  border-radius: 4px;
  padding: 8px 50px;
  cursor: pointer;
}

.button-throw_off:hover {
  color: rgba(255, 255, 255, 0.3);
}

.button-throw_off:active {
  color: rgba(221, 221, 221, 0.3);
}

.button-throw_off:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.selector {
  display: flex;
  width: 1060px;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.select-control {
  width: 292px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 20px;
  margin-left: 192px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-control:hover {
  outline: 2px solid #68A2CA;
  ;
}

.select-control:active {
  outline: 2px solid #3F5E72;
  ;
}

.select-control:focus {
  outline: 2px solid #68A2CA;
  ;
}
.select-contro:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
}


.view {
  display: flex;
  width: 160px;
  height: 48px;
  padding: 0;
  margin-left: 70px;
}

.button-view {
  display: block;
  margin: 0;
  width: 48px;
  height: 48px;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 8px;
}

.catalog-icon {
  padding: 17px 16px;
}

.button-light {
  border: 2px solid #E5E5E5;
}

.view:last-of-type .button-view:last-of-type {
  margin-right: 0;
}

.button-view:hover {
  outline: 2px solid #000;
}

.button-view:active {
  outline: 2px solid #000;
}

.button-view:focus {
  outline: 2px solid #68A2CA;
}

.catalog-icon {
  padding: 17px 16px;
}

.inner-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 36px;
  text-transform: uppercase;
  align-self: center;
  color: #000;
  width: 340px;
  height: 36px;
  padding: 0;
  margin: 0;
}

.popular {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: auto auto;
  gap: 20px;
  width: 1060px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 80px;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

.product-card-image {
  margin-bottom: 16px;
}

.price-help {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 21px 36px 37px;
  column-gap: 20px;
  row-gap: 16px;
}

.stars {
  display: block;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  width: 300px;
  margin: 0;
  margin-bottom: 16px;
}

.text-price {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  width: 140px;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  line-height: 21px;
  color: #333;
  width: 140px;
  justify-self: center;
}

.product-card-button.button_detailed {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 0;
  text-decoration: none;
  width: 140px;
}

.product-card-button.button_detailed:hover {
  background-color: #615048;
}

.product-card-button.button_detailed:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button.button_detailed:disabled {
  background-color:#E5E5E5;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button.button_favourites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  padding: 8px 0;
  text-decoration: none;
  width: 140px;
  cursor: pointer;
}

.product-card-button.button_favourites_green {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #7DB54F;
  border-radius: 4px;
  border: none;
  padding: 8px 0;
  text-decoration: none;
  width: 140px;
  cursor: pointer;
}

.product-card-button.button_favourites_green:hover {
  background-color: #6C9E42;
}

.product-card-button.button_favourites_green:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button.button_favourites_green:disabled {
  background-color:#E5E5E5;
  color: rgba(255, 255, 255, 0.3);
}


.product-card-button.button_favourites:hover {
  background-color: #68A2CA;
}

.product-card-button.button_favourites:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button.button_favourites:disabled {
  background-color:#E5E5E5;
  color: rgba(255, 255, 255, 0.3);
}

.text-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 37px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 140px;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-container {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link.pagination-current {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  background-color: #F2F2F2;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}


.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}


.newsletter-catalog {
  justify-content: center;
  padding-bottom: 100px;
}

.page-main-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 0;
  margin: 0;
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
}

.text-newsletter-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  text-align: center;
  color: #000;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.help-newsletter {
  display: flex;
  justify-content: center;
  margin-left: 258px;
  overflow: hidden;
  margin-right: 258px;
  border-radius: 4px;
  margin-top: 50px;
}
