@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #242424;
  background-color: #F2F2F2;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style-type: none;
}

/* HEADER */
.page-header {
  display: flex;
  background: #FFF;
  min-height: 64px;
  padding: 0 70px;

}

.logo-header {
  display: block;
  margin-right: 30px;
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  margin: 0 17px;
}

.navigation-item {
  margin: 0 17px;
}

.navigation-user {
  display: flex;
  margin-left: auto;
  background-color: red;
  padding: 0;
}

.navigation-item-5 {
  background-color: black;
  padding: 10PX 10PX;
}

.search {
  width: 44px;
  height: 64px;
}

.like {
  width: 44px;
  height: 64px;
}

.come_here {
  border-radius: 4px;
  background: #756157;
}

/* MAIN */
main-container {
  flex-grow: 1;
  padding: 0;
}

.main-index {
  color: #000;
  background-color: #FFF;
}

.baner {
  background-image: url("../images/fon_sedona_header.jpg");
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 485px;
}

.logo {
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-top: 51px;
  ;
}

.text-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 69px;
}

.reasons {
  margin-left: 275px;
  margin-right: 274px;
  margin-top: 25px;
}


.text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
  background-color: #FFF;
}

.help.blue {
  display: flex;
}

.blue {
  background-color: #82B3D3;
}

.help-text {
  text-align: center;
  margin: 0 auto;
}

/*ADVATAGES*/
.advantages {
  margin-top: 90px;
}

.advantages-list {
  padding: 0;
  margin: 0;
}

.advantages-title-real_town {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 92px;
  margin-left: 113px;
  margin-right: 113px;
  margin-bottom: 0;
  color: #FFF;
}

.advantages-title-devils_bridge {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 92px;
  margin-left: 113px;
  margin-right: 113px;
  margin-bottom: 0;
  color: #FFF;
}

.advantages-description-real_town {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 62px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: auto;
  color: #FFF;
}

.advantages-description-devils_bridge {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 62px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: auto;
  color: #FFF;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333;
  margin: 0 auto;
}

.advantages-item-1 {
  padding: 0;
}

.advantages-item {
  padding: 103px 85px;
  flex-grow: 1;
  flex-basis: 400px;
  min-height: 384px;
  box-sizing: border-box;
}

.advantages-item:nth-child(1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-help {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.advantages-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

/*APOINTVENT*/
.appointment {
  margin: 0 auto;
  padding: 0;
}

.apointment-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 297px;
  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
}

.text-appointment {
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 0;
  margin-top: 20px;
  margin-left: 304px;
  margin-right: 304px;
  margin-bottom: 54px;
}

.button-search {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background-color: #756157;
  width: 376px;
  border-radius: 4px;
  padding: 8px 50px;
  margin-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
}

/*NEWSLETER*/
.newsletter {
  background-image: url("../images/subscribe_background.png");
  background-repeat: no-repeat;
  background-size: 1200px 415px;
  background-color: lightblue;
  justify-content: center;
  padding-bottom: 100px;
}

.page-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-form {
  text-align: center;
}

.text-newsletter {
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-left: 363px;
  margin-right: 363px;
}

.help-newsletter {
  display: flex;
  justify-content: center;
  margin-left: 258px;
  overflow: hidden;
  margin-right: 258px;
  border-radius: 4px;
  margin-top: 50px;
}

.field {
  align-items: center;
  background-color: #F2F2F2;
  width: 452px;
  border: 0;
  padding: 12px 20px;
  margin: 0;
}

.button.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFF;
  background-color: #82B3D3;
  width: 232px;
  border: 0;
  padding: 12px 20px;
  margin: 0;
}

/*FOOTER*/
.page-footer {
  display: flex;
  padding: 40px 70px 30px;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #FFFFFF;
}

.page-footer-logo {
  display: block;
  padding: 0;
}

.footer-contacts-address-phone {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 720px;
  padding: 0;
  margin: 0;
  color: #000;
}

.footer-social {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-social-list {
  display: flex;
  width: 142px;
  padding: 0;
  margin: 0;
}

.footer-icon {
  padding: 13px 12px;
}

/*CATALOG*/
.main-inner {
  background-color: #FFF;
}

.help-catalog {
  background-image: url("../images/background_footer.png");
  background-repeat: no-repeat;
  background-size: 1200px auto;
  background-color: #c7b9b9;
  background-position: 0 center;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.inner-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;

}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFF;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 8px;
}

.breadcrumbs-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFF;
  width: 114px;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
}

.catalog-products {
  padding: 0;
  margin: 0;
}

.catalog-filter {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-right: 70px;
}

.catalog-help {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  margin-right: 70px;
  width: 150px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-price {
  display: flex;
  width: 1060px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFF;
}

.price-help-1 {
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 287px;
  margin-left: 140px;
  margin-right: 70px;
}

.advantages-title-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

.price-help-2 {
  padding: 0;
  margin: 0;
}

.input-help {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  overflow: hidden;
}

.input-help input {
  width: calc(50% - 1px);
}

.button-apply {
  width: 191px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #82B3D3;
  border: 0;
  border-radius: 4px;
  margin: 0;
  margin-top: 56px;
  margin-bottom: 32px;
  padding: 8px 50px;
}

.button-throw_off {
  width: 191px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  border: 0;
  margin: 0;
  border-radius: 4px;
  padding: 8px 50px;
}

.selector {
  display: flex;
  width: 1060px;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
}

.select-control {
  width: 292px;
  padding: 0;
  margin-left: 192px;
  border: 2px solid #E5E5E5;
}

.view {
  width: 160px;
  padding: 0;
  margin-left: 70px;
}

.inner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  width: 338px;
  padding: 0;
  margin: 0;
}

.popular {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px 438px;
  gap: 20px;
  width: 1060px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 80px;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

.product-card-image {
  margin-bottom: 16px;
}

.price-help {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 21px 36px 37px;
  column-gap: 20px;
  row-gap: 16px;
}

.stars {
  display: block;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  width: 300px;
  margin: 0;
  margin-bottom: 16px;
}

.text-price {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  width: 140px;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  width: 140px;
  justify-self: center;
}

.product-card-button.button_detailed {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 0;
  text-decoration: none;
  width: 140px;
}

.product-card-button.button_favourites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 8px 0;
  text-decoration: none;
  width: 140px;
}

.text-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 140px;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-container {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link.pagination-current {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  background-color: #F2F2F2;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.newsletter-catalog {
  justify-content: center;
  padding-bottom: 100px;
}

.page-main-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 0;
  margin: 0;
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
}

.text-newsletter-catalog {
  font-weight: 400;
  text-align: center;
  color: #000;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-left: 363px;
  margin-right: 363px;
}

.help-newsletter {
  display: flex;
  justify-content: center;
  margin-left: 258px;
  overflow: hidden;
  margin-right: 258px;
  border-radius: 4px;
  margin-top: 50px;
}
